/* Import all .scss directories */
/* Import all abstracts .scss files */
/* Font Imports */
@import url("https://fonts.google.com/specimen/Spartan");
/* Mixins */
.horizontal-list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 30px;
}

@media (max-width: 1340px) {
  .horizontal-list {
    padding: 20px 10px;
  }
}

.horizontal-list li {
  display: inline-block;
  text-transform: lowercase;
  font-weight: 500;
}

@media (min-width: 1440px) {
  .horizontal-list li {
    margin-left: -2px;
    margin-right: 2em;
  }
}

.horizontal-list li:hover {
  cursor: pointer;
}

/* Import all base .scss files */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
  font-family: "Spartan", sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

/**
 * Typography
 * =================================
 * - Base
 * - Paragraphs
 * - Headings
 * - Type sizes
 * - Misc
 * - Utilities
 *
 * Body font size, leadings etc have been set in _variables.scss
 */
/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  text-rendering: optimizelegibility;
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
p small {
  font-weight: normal;
}

h1 {
  font-size: 42px;
  font-weight: 700;
}

h3 {
  font-size: 16.8px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0px;
}

p {
  font-size: 14px;
  color: #a1a1a1;
  line-height: 1.75em;
}

/* Import all components .scss files */
/* Place all button components styling here */
.cta {
  color: #454545;
  border: none;
  background-color: transparent;
  letter-spacing: 8px;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
}

@media (max-width: 1340px) {
  .cta {
    margin-bottom: 60px;
  }
}

.cta:hover {
  cursor: pointer;
  margin-left: 15px;
  opacity: 0.8;
}

.slider-btn {
  height: 60px;
  width: 60px;
  background-color: black;
  color: #a1a1a1;
  padding: 22px;
  float: left;
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
}

.slider-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* Place all input components styling here */
input,
select,
textarea {
  border: 1px solid #ccc;
  font-size: 12px;
  padding: 20px;
}

input:focus,
select:focus,
textarea:focus {
  border: 1px solid #c7c7c7;
}

#hero-bg-top-1 {
  background: url("../images/desktop-image-hero-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60%;
  -webkit-box-flex: 90%;
      -ms-flex: 90%;
          flex: 90%;
}

#hero-bg-bottom-1 {
  background: url("../images/image-about-dark.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60%;
}

#hero-bg-bottom-2 {
  background: url("../images/image-about-light.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60%;
}

/* Import all layouts .scss files */
/* Footer component */
footer {
  color: white;
  padding: 20px;
  text-align: center;
}

/* Header component */
header {
  color: white;
  padding: 20px;
}

header .hamburger-menu {
  display: none;
  float: left;
  font-size: 30px;
}

@media (min-width: 1440px) {
  header .logo-li {
    margin-right: 40px;
  }
  header .menu-items {
    display: inline-block;
  }
}

@media (max-width: 1340px) {
  header {
    text-align: center;
  }
  header .logo-li,
  header .hamburger-menu {
    display: inline-block;
  }
  header .menu-items li {
    font-weight: 700;
    display: none;
    margin: 0 10px;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

@media (max-width: 1340px) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.row .col {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  position: relative;
}

@media (max-width: 1340px) {
  .row .col {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
}

.row .bg-col {
  padding: 7% 5%;
}

.row .sm-col {
  -webkit-box-flex: 70%;
      -ms-flex: 70%;
          flex: 70%;
  padding: 4% 3%;
}

.upper-row {
  height: 65vh;
}

@media (max-width: 1340px) {
  .upper-row {
    height: 100vh;
  }
}

.bottom-row {
  height: 35vh;
}

@media (max-width: 1340px) {
  .bottom-row {
    height: 100vh;
  }
}

.slider {
  position: absolute;
  left: 0;
  bottom: 0;
}
/*# sourceMappingURL=main.css.map */