/* Mixins */
@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin mobile {
    @media (max-width: #{$desktop-width - 100px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop-width) {
        @content;
    }
}

@mixin horizontal-list {
    @include reset-list;
    padding: 30px;

    @include mobile {
        padding: 20px 10px;
    }

    li {
        display: inline-block;
        text-transform: lowercase;
        font-weight: 500;

        @include desktop {
            margin: {
                left: -2px;
                right: 2em;
            }
        }

        &:hover {
            cursor: pointer;
        }
    }
}

.horizontal-list {
    @include horizontal-list;
}