/* Mixins */
@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin horizontal-list {
    @include reset-list;
    padding: 30px;

    li {
        display: inline-block;
        text-transform: lowercase;
        font-weight: 500;

        margin: {
            left: -2px;
            right: 2em;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

.horizontal-list {
    @include horizontal-list;
}

.row {
    display: flex;
    height: 100%;

    .col {
        flex: 50%;
        position: relative;
    }

    .bg-col {
        padding: 7% 5%;
    }

    .sm-col {
        padding: 4% 3%;
    }
}

.upper-row {
    height: 65vh;
}

.bottom-row {
    height: 35vh;
}

.slider {
    position: absolute;
    left: 0;
    bottom: 0;
}