// Font-family
$font-spartan: 'Spartan',
sans-serif;

// Headings
$font-size-h1: 40px;
$line-height-h1: 1.7em;

// Font-weights
$weight-light: 500;
$weight-normal: 600;
$weight-bold: 700;

// Font-sizes
$base-font-size: 12px;

// Colors
$dark-gray: hsl(0, 0%, 63%);
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$very-dark-gray: hsl(0, 0%, 27%);

// Screen widths
$mobile: 375px;
$desktop: 1440px;